@import '../styles/variables/borders';

$block-name: 'article-link';

.#{$block-name} {
  padding: 2rem;
  border: $default-border;
  margin: 1rem 0;
  width: 100%;
  border-radius: $border-radius;

  &:hover {
    background: darken(white, 1.5%);
    transition: background 250ms;

  }
  &__title {
    
  }

}