@import '../styles/mixins/media-queries';

$block-name: 'image-button';

.#{$block-name} {


  background: #0f0f0f;
  border: none;
  border-radius: 3px;
  height: 100px;
  width: 100%;

  @include tablet-up {
    height: 120px;
  }

  &__text {
    position: relative;
    top: 1.25rem;
    left: 1.25rem;
    color: white;
    font-weight: 700;
    font-size: 1.75rem;
    // padding: 1.5rem;
  }

}