@import '../styles/mixins/media-queries';

$block-name: 'header';

.#{$block-name} {

  &__container {
    padding: 1.75rem 1rem 1rem 1rem;
    @include tablet-up {
      padding: 3rem 1rem 1rem 1rem;
    }
  }

  &__text {
    text-align: center;
    font-size: 3rem;
  }

  &__link {

  }

}