@import '../styles/mixins/media-queries';

$block-name: 'layout';


.#{$block-name} {

  display: flex;
  padding: 10px;

  @include tablet-up {
    padding: 25px 100px;
  }
  @include laptop-up {
    padding: 25px 250px;
  }

  &__navigation {
    position: absolute;
  }

  &__main {
    flex: 5;
  }

  &__column {
    padding: 1rem;
  }

}